body {
  background-image: url('/images/cash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.card {
  background-color: rgba(255, 255, 255, 0.95);
}
